 /* RESETS */

html {
    margin: 0%;
    background-color: black;
}

/* EFECTOS VÍNCULOS */

a:hover {
    color: #ffbd59 !important;
}


 /* ESTILO HEADER */

 header {
    background-image: url(../images/header.png);
    background-size: 40% 100%;
    font-family: 'Montserrat';
    padding-bottom: 5%;
    padding-top: 0%;
    position: sticky;
    top: 1px;
    z-index: 1;
}

.navbar-toggler {
    margin-top: -3%;
    background-color: #ffbd59 !important;
    font-size: 90% !important;
    border: 1px solid #ffbd59 !important;
}

.nav-link {
    color: whitesmoke !important;
    font-weight: 900 !important;
    align-items: right !important;
}

.bg-light1 {
    background-color: transparent!important;
}

div.social {
    display: inline;
    gap: 5px;
    float: right;
    padding-top: 2%;
}

nav {
    display: inline;
}

.nav-item {
    list-style-type: none;
    text-decoration: overline underline;
    text-decoration-style: double;
    text-transform: capitalize;
    font-size: 90%;
    align-items: right;
    padding-top: 0.5%;
}

@media (max-width: 767px) {
    header {
        background-size: 120% 130%;
        padding-bottom: 10%;
    }
    .navbar-nav {
       font-size: 85%;
       padding: 0%;
    }
    .nav-item {
        padding-top: 0%;
    }
           
        }

#acerca {
    text-align: center !important;
}
 /* ESTILOS MAIN */

 

 .subtitulo {
     display: inline-block;
     color: whitesmoke;
     font-family: 'Montserrat';
     font-size: 33px;
     text-align: center;
     text-decoration: overline underline;
     text-decoration-style: double;
     text-decoration-color: #ffbd59;
     margin-bottom: 4%;

 }


 .acerca {
     display: inline;
     float: left;
     border-style: groove;
     border-color: whitesmoke;
 }

 .acerca__articulo {
     color: whitesmoke;
     font-family: 'Montserrat';
     font-size: 90%;
     line-height: 99.5%;
     padding: 3%;
     text-align: center;
 }

 /* CUADRO LATERAL */

 .ultimo__subtitulo {
     color: whitesmoke;
     font-family: 'Spartan';
     font-size: 20px;
     padding-top: 4%;
     text-decoration: overline underline;
     text-decoration-style: double;
     text-decoration-color: black;
 }

 .acerca__ultimo {
     display: block;
     float: right;
     width: 300px;
     margin-left: 70px;
     margin-right: 130px;
     text-align: center;
     padding-bottom: 20vh;
 }

 .acerca__item2 {
    background-image: linear-gradient(to left, #ffb84ecc, black);
       display: inline-block;
       align-content: center;
       margin-left: 10px;
       text-align: center;
       padding: 10px;
   } 
  

aside div p a {
     color: whitesmoke;
     font-family: 'Montserrat';
     font-size: 12px;
 }

 /*FOOTER */

 footer {
     background-image: url(../images/footer.png);
     background-size: 30% 100%;
     background-repeat: repeat-x;
     padding-top: 5%;
     padding-bottom: 2%;
     font-family: 'Montserrat';
     text-align: center;
     color: whitesmoke;
 }


 /* ANIMACIONES */

 /*texto*/

 .animate__animated.animate__zoomIn {
     --animate-duration: 3s;
 }



 /*hover lo ultimo */

 .img__ultimo {
     opacity: 0.9;
     filter: opacity(0.8);
     transition: 1.5s;
 }

 .img__ultimo:hover {
     transform: scale(1.2, 1.2);
     opacity: 1;
     filter: saturate(1.3);
 }