 /* RESETS */

 html {
    margin: 0%;
    background-color: black;
}

/* EFECTOS VÍNCULOS */

a:hover {
    color: #ffbd59 !important;
}


 /* ESTILO HEADER */

 header {
    background-image: url(../images/header.png);
    background-size: 40% 100%;
    font-family: 'Montserrat';
    padding-bottom: 5%;
    padding-top: 0%;
    position: sticky;
    top: 1px;
    z-index: 1;
}

.navbar-toggler {
    margin-top: -3%;
    background-color: #ffbd59 !important;
    font-size: 90% !important;
    border: 1px solid #ffbd59 !important;
}

.nav-link {
    color: whitesmoke !important;
    font-weight: 900 !important;
    align-items: right !important;
}

.bg-light1 {
    background-color: transparent!important;
}

div.social {
    display: inline;
    gap: 5px;
    float: right;
    padding-top: 2%;
}

nav {
    display: inline;
}

.nav-item {
    list-style-type: none;
    text-decoration: overline underline;
    text-decoration-style: double;
    text-transform: capitalize;
    font-size: 90%;
    align-items: right;
    padding-top: 0.5%;
}

@media (max-width: 767px) {
    header {
        background-size: 120% 130%;
        padding-bottom: 10%;
    }
    .navbar-nav {
       font-size: 85%;
       padding: 0%;
    }
    .nav-item {
        padding-top: 0%;
    }
           
        }
 
/*FORMULARIO*/

 .contacto {
     background-image: url(../images/contacto.png);
     background-size: contain;
     background-repeat: no-repeat;
     background-position-x: right;
 }

 .contacto__subtitulo {
     display: inline-block;
     color: whitesmoke;
     margin-left: 20%;
     font-family: 'Montserrat';
     font-size: 150%;
     text-align: left;
     line-height: 100%;
     padding-top: 3%;
     text-decoration: overline underline;
     text-decoration-style: double;
     text-decoration-color: #ffbd59;
     top: 5px;
 }

 .contacto__form {
     margin-left: 10%;
     padding-right: 5%;
     text-align: center;
 }

 .contacto__form fieldset {
     border: 0;
 }

 form {
     color: whitesmoke;
     font-family: 'Montserrat';
 }

 .form-group {
    background-color: rgba(255, 153, 0, 0.226);
    padding-left: 10%;
    padding-right: 10%;
 }

 /*FOOTER */

 footer {
     background-image: url(../images/footer.png);
     background-size: 30% 100%;
     background-repeat: repeat-x;
     padding-top: 5%;
     padding-bottom: 2%;
     font-family: 'Montserrat';
     text-align: center;
     color: whitesmoke;
 }


 /* ANIMACIONES */

 /*texto*/

 .animate__animated.animate__zoomIn {
     --animate-duration: 3s;
 }
