//PRINCIPAL
.main__index{
    
 h1 {
     color: $color-links;
     font-family: 'Spartan';
     text-align: center;
     top: 5px;
    }
    .index__carousel-inner img{
        border-radius: 15px;
            width: 100%;
            height: 100%;

        } 
        .index__subtitulo {
            color: $color-texto;
            font-family: 'Montserrat';
            text-align: center;
            padding-top: 4%;
            text-decoration: overline underline;
            text-decoration-style: double;
            text-decoration-color: $color-links;
        }

}

//ASIDE

.aside__index__item2 {
    background-image: linear-gradient(to left, rgba(165, 113, 36, 0.637), black);
    display: inline-block;
    align-content: center;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
    padding: 10px;

    .aside__ultimo__subtitulo {
        color: $color-texto;
        font-family: 'Spartan';
        font-size: 20px;
        padding-top: 4%;
        text-decoration: overline underline;
        text-decoration-style: double;
        text-decoration-color: $color-background;
    }
    .aside__img__ultimo{
        opacity: 0.9;
        filter: opacity(0.8);
        transition: 1.5s;
        
    }
    img:hover {
        transform: scale(1.2, 1.2);
        opacity: 1;
        filter: saturate(1.3);
    }
    a {
        color: $color-texto;
        font-family: 'Montserrat';
        font-size: 12px;
    }
    a:hover{
        color: $color-links;
    }

}

@media (min-width: 768px) and (max-width: 991.9px) {
    #item3 {
        display: none;
    }
     }

/* SECTION */


.index__muestra {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: transparent;
    margin-top: 5%;
    margin-left: 3%;
    border-width: 8px;
    position: sticky;
    
    a {
        color: $color-texto;
        font-family: 'Spartan';
        font-size: 35px;
        padding-top: 3%;
        margin-left: 0%;
        margin-right: 0%;
        text-align: center;
        text-decoration: overline underline;
        text-decoration-style: double;
        text-decoration-color: $color-links;
        text-transform: capitalize;       
    }
    a:hover {
        color: $color-links;
}

    img {
    margin: 5%;
    opacity: 0.9;
    filter: opacity(0.6);
    transition: 1.5s;
    
}

img:hover {
    transform: scale(1.1, 1.1);
    opacity: 1;
    filter: saturate(1.3);
}
}

