//MAIN

.muestra2 {
margin-left: 3%;

#muestraItems{
    display:block;
    justify-content: center;
}

& h3 {
    color: $color-links;
    font-family: 'Spartan';
    font-size: 150%;
    padding-top: 3%;
    padding-bottom: 1%;
    text-align: center;
    text-transform: capitalize;
    text-decoration-line: underline;
    text-decoration-color: $color-texto;
    text-transform: uppercase;
}
& a {
    font-display:inherit;
    font-family: "Montserrat";
    color: $color-texto;
    font-size: 80%;
    .muestra_imagen2:hover {
        transform: scale(1.1, 1.1);
        opacity: 1;
        filter: saturate(1.3);
    }
}
& a:hover{
    color: $color-links;
}

.muestra_imagen2 {
    width: 150px;
    height: 200px;
     object-fit: cover;
     border: 5px groove $color-texto;
     display: block;
     overflow: hidden;
     opacity: 0.9;
     filter: sepia(5);
     transition: 1.5s;
 }
 
}

//MEDIA QUERIES

@media (min-width: 992px){
    .muestra2 {
   .muestra_imagen2 {
       width: 270px;
       height: 370px;
       object-fit: cover;
       border: 5px groove $color-texto;
       display: block;
       overflow: hidden;
       opacity: 0.9;
       filter: sepia(5);
       transition: 1.5s;
   }
}
   body {
       background-image: url(../images/trayectoria.png);
       background-size:99%; 
       background-repeat: repeat-y;
       background-position:center;
   }
}
@media (min-width: 768px) and (max-width: 991.9px){
    .muestra2 {
   .muestra_imagen2 {
       width: 190px;
       height: 290px;
       object-fit: cover;
       border: 5px groove $color-texto;
       display: block;
       overflow: hidden;
       opacity: 0.9;
       filter: sepia(5);
       transition: 1.5s;
   }
}
   body {
       background-image: url(../images/trayectoria.png);
       background-size:99%; 
       background-repeat: repeat-y;
       background-position:center;
   }
}
@media (min-width: 576px) and (max-width: 767.9px){
    .muestra2 {
   .muestra_imagen2 {
       width: 130px;
       height: 230px;
       object-fit: cover;
       border: 5px groove $color-texto;
       display: block;
       overflow: hidden;
       opacity: 0.9;
       filter: sepia(5);
       transition: 1.5s;
   }
}
   body {
       background-image: url(../images/trayectoria.png);
       background-size:99%; 
       background-repeat: repeat-y;
       background-position:center;
   }
}

@media (max-width: 575.9px){
    .muestra2 {
   .muestra_imagen2 {
       width: 80px;
       height: 130px;
   }
   & a {
       font-size: 60%;
       line-height: 0.7;
   }
}
}