
.container__trayectoria{
    @media (max-width: 575.9px) {
        font-size: 80% !important;
     
     .trayectoria__intro {
        font-size: 80% !important;
     }

        ul li { 
        font-size: 80% !important;
        }
    }
}
    
    .card-header h3 {
        font-size: 60% !important;
    }
    
    
    a:hover {
        color: $color-links !important;
}
    .container{
        align-content: center;
        
        }
         .subtitulo {
             color: whitesmoke;
             font-family: 'Montserrat';
             font-size: 33px;
             text-align: center;
             text-decoration: overline underline;
             text-decoration-style: double;
             text-decoration-color: #ffbd59;
             top: 35px;
         }
        
         @media (min-width: 768px) {
            body {
            background-image: url(../images/trayectoria.png);
            background-size:99%; 
            background-repeat: repeat-y;
            background-position:center;
        }
        }
         .trayectoria {
             display: inline-block;
             background-color: transparent;
             padding-right: 3%;
         
        
         &__intro {
             color: whitesmoke;
             font-family: 'Montserrat';
             text-align: center;
             background-color: transparent;
         }
        
         &__primera {
             display: inline-block;
             color: whitesmoke;
             font-family: 'Montserrat';
             line-height: 150%;
             background-color: transparent;
         }
        
         &__primera a {
             color: whitesmoke;
         }
        
         &__primera a:hover {
            color: #ffbd59;
        }
    
        
         &__lista {
             list-style-type: none;
             color: #ffbd59;
             
            }
        }
        
        .trayectoria__side {
            padding-left: 0%;
            padding-right: 0%;
            line-height: 150%;
        
         &--subtitulo {
             color: whitesmoke;
             font-family: 'Spartan';
             font-size: 20px;
             padding-top: 4%;
             text-decoration: overline underline;
             text-decoration-style: double;
             text-decoration-color: #ffbd59;
         }
        
        
         & h2 {
             font-family: 'Spartan';
             font-size: 150%;
             padding-top: 6%;
             padding-bottom: 6%;
             padding-left: 6%;
             text-align: left;
             text-decoration: overline underline;
             text-decoration-style: double;
             text-decoration-color: #ffbd59;
             text-transform: capitalize;
         }
        
         & div p a {
             color: whitesmoke;
             font-family: 'Montserrat';
             font-size: 11px;
         }
        
         & div {
             font-family: 'Montserrat';
             color: whitesmoke;
             font-size: 15px;
         }
        
         & a {
             font-family: 'Montserrat';
             color: whitesmoke;
             font-size: 15px;
         }
         & a:hover {
            font-family: 'Montserrat';
            color: #ffbd59;
            font-size: 15px;
        }
        
         & ul li {
             margin: 0px;
         }
        }
         
         .trayectoria__side__section {
             background-repeat: no-repeat;
             background-size: cover;
             background-position: center;
             line-height: 150%;
            
            
            & div {
                font-family: 'Montserrat';
                color: whitesmoke;
                font-size: 15px;
                text-align: left;
            }
            
            & h2 {
                font-family: 'Spartan';
                font-size: 200%;
                padding-top: 6%;
                padding-bottom: 6%;
                text-align: center;
                text-decoration: overline underline;
                text-decoration-style: double;
                text-decoration-color: #ffbd59;
                text-transform: capitalize;
                line-height: 130%;
            }
            
            &Sub {
                color: #ffbd59;
                font-size: 85%;
            }
            
            &Sub a {
                color: #ffbd59;
                font-size: 85%;
            }
        }
        
            .trayectoria__aside ul li {
                list-style-type: none;
                margin: 0px;
            }
            .sectionTrayectoria a {
                color: whitesmoke;
            }
            
            
            
            /*COLLAPSE */
            
        #accordion{
            
        
        .card {
            background-color: transparent !important;
        
        
        }
        .card-header {
            text-align: left;
        
            
        }
        .btn-block {
            display: inline-block;
            background-image: radial-gradient(farthest-side, whitesmoke, #ffbd59) !important;
             color: black !important;
             font-family: 'Spartan'!important;
             text-decoration: overline underline !important;
             text-decoration-style: double !important;
             text-transform: capitalize !important;
        }
        .btn{
            align-items: center;
        }
    }

