footer {
    background-image: url("../images/footer.png");
    background-size: 30% 100%;
    background-repeat: repeat-x;
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'Montserrat';
    text-align: center;
    color: $color-texto;
}