/* RESETS */

html {
    margin: 0%;
    background-color: black;
}

/* EFECTOS VÍNCULOS */

a:hover {
    color: #ffbd59;
}


/* ESTILO HEADER */

header {
    background-image: url(../images/header.png);
    background-size: 40% 100%;
    font-family: 'Montserrat';
    padding-bottom: 12%;
    padding-top: 0%;
    position: sticky;
    top: 1px;
    z-index: 1;
}

/* LOGO */

header a img.logo {
    display: inline-block;
    image-rendering: optimizeSpeed;
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
    z-index: -1;
}

header nav ul li a {
    color: whitesmoke;
    font-weight: 900;
    align-items: center;
}

div.social{
    display: inline;
   gap: 5px;
    float:right;
padding-top: 2%;
}

nav{
    display: inline;
}

header nav ul.menu li {
    list-style-type: none;
    text-decoration: overline underline;
    text-decoration-style: double;
    text-transform: capitalize;
    font-display: block;
    font-size: 90%;
    float:right;
    padding-right: 1.3%;
    padding-top: 2.5%;
}

 /* ESTILOS MAIN */

 .subtitulo {
     display: inline-block;
     color: whitesmoke;
     margin-left: 30%;
     font-family: 'Montserrat';
     font-size: 33px;
     text-align: left;
     text-decoration: overline underline;
     text-decoration-style: double;
     text-decoration-color: #ffbd59;
     /*position: sticky;*/
     top: 35px;
 }

.container__trayectoria{
    display: flex;
    background-image: url(../images/trayectoria.png);
     background-size: contain;
     background-repeat: repeat-y;
}
 .trayectoria {
     display: inline-block;
     background-color: transparent;
     width: 900px;
     margin-left: 3%;
     padding-right: 3%;
     border-color: #ffbd59;
 }

 .trayectoria__intro {
     color: whitesmoke;
     margin-left: 15%;
     font-family: 'Montserrat';
     font-size: 100%;
     text-align: center;
     background-color: transparent;
 }

 .trayectoria__primera {
     display: inline-block;
     color: whitesmoke;
     font-family: 'Montserrat';
     line-height: 150%;
     background-color: transparent;
     padding-left: 3%;
 }

 .trayectoria__primera a {
     color: whitesmoke;
 }

 .trayectoria__primera a:hover {
    color: #ffbd59;
}

 .trayectoria__lista {
     list-style-type: none;
     color: #ffbd59
 }

 .trayectoria__side--subtitulo {
     color: whitesmoke;
     font-family: 'Spartan';
     font-size: 20px;
     padding-top: 4%;
     text-decoration: overline underline;
     text-decoration-style: double;
     text-decoration-color: #ffbd59;
 }

 .trayectoria__side {
     display: block;
     float: right;
     width: 300px;
     margin-left: 70px;
     margin-right: 128px;
     padding-left: 0px;
     padding-right: 0px;
     text-align: left;
     line-height: 150%;
 }

 .trayectoria__side h2 {
     font-family: 'Spartan';
     font-size: 200%;
     padding-top: 6%;
     padding-bottom: 12%;
     text-align: right;
     text-decoration: overline underline;
     text-decoration-style: double;
     text-decoration-color: #ffbd59;
     text-transform: capitalize;
     background-color: black;
 }

 .trayectoria__side div p a {
     color: whitesmoke;
     font-family: 'Montserrat';
     font-size: 11px;
 }

 .trayectoria__side div {
     font-family: 'Montserrat';
     color: whitesmoke;
     font-size: 15px;
 }

 .trayectoria__side a {
     font-family: 'Montserrat';
     color: whitesmoke;
     font-size: 15px;
 }
 .trayectoria__side a:hover {
    font-family: 'Montserrat';
    color: #ffbd59;
    font-size: 15px;
}

 .trayectoria__side ul li {
     list-style-type: none;
     margin: 0px;
 }

 .trayectoria__side__section {
     display: block;
     float: right;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     line-height: 150%;
 }

 .trayectoria__side__section div {
     font-family: 'Montserrat';
     color: whitesmoke;
     font-size: 15px;
     text-align: left;
 }

 .trayectoria__side__section h2 {
     font-family: 'Spartan';
     font-size: 200%;
     padding-top: 16%;
     padding-bottom: 12%;
     text-align: center;
     text-decoration: overline underline;
     text-decoration-style: double;
     text-decoration-color: #ffbd59;
     text-transform: capitalize;
     line-height: 150%;
 }

 .trayectoria__side__sectionSub {
     color: #ffbd59
 }

 .trayectoria__side__sectionSub a {
     color: #ffbd59
 }

 .sectionTrayectoria a {
     color: whitesmoke;
 }

 /* SECTION */

 .trayectoria h3 {
    background-image: radial-gradient(farthest-side, whitesmoke, #ffbd59);
     color: black;
     font-family: 'Spartan';
     font-size: 25px;
     padding-top: 3%;
     padding-bottom: 2%;
     margin-left: 0%;
     margin-right: 0%;
     text-align: center;
     text-decoration: overline underline;
     text-decoration-style: double;
     text-transform: capitalize;
 }


 /*FOOTER */

 footer {
     background-image: url(../images/footer.png);
     background-size: 30% 100%;
     background-repeat: repeat-x;
     padding-top: 5%;
     padding-bottom: 2%;
     font-family: 'Montserrat';
     text-align: center;
     color: whitesmoke;
 }

 /*texto*/

 .animate__animated.animate__zoomIn {
     --animate-duration: 3s;
 }
